h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
    border-top: 2px solid rgba(65, 105, 225, 0.514);
}

table {
    width: 600px;
    height: 100px;
    padding: 0px;
    margin: 0px;    
    border:0px solid royalblue;
    border-radius: 15px;
    padding-top: 0px;
   
}
td {
    border: 2px solid rgba(65, 105, 225, 0.233);
    border-radius: 0px;
    font-family: 'Righteous', cursive;
   
}
thead {
    background-color: rgba(65, 105, 225, 0.233);
    border-radius: 1px;

}
tbody:hover  {
    background-color: rgba(65, 105, 225, 0.205);
}

input {
    background-color: rgba(65, 105, 225, 0.205);
    border: 0px solid;
    margin-left: 6px; 
    padding: 20px; 
    font-family: 'Permanent Marker', cursive;
    width: 170px;

 
}
input:hover {
        background-color: rgba(65, 105, 225, 0.308);
        font-family: 'Permanent Marker', cursive;
      

    
}
th{
    font-family: 'Permanent Marker', cursive;
    height: 60px;
    
}
#tri {
    background-color: rgba(65, 105, 225, 0.205);
    border: 0px solid;
    font-family: 'Permanent Marker', cursive;


}
#tri:hover {
    background-color: rgba(65, 105, 225, 0.308);
    border: 0px solid;
    font-family: 'Permanent Marker', cursive;
    
  
   

}
#Beta {
    background-color: rgba(65, 105, 225, 0.205);
    border: 0px solid;
    font-family: 'Permanent Marker', cursive;


}
#Beta:hover {
    background-color: rgba(65, 105, 225, 0.308);
    font-family: 'Permanent Marker', cursive;
}